body{
    background-color:rgb(151, 219, 219);
}

.miTexto{
    color:blue;
}

#Sub-tit{
    font-size: 20px;
}

.title{
    font-size: 40px;
    color:rgb(226, 127, 56);
}

.logo{
 width: 150px;   
 
}

.cards{
    border: 0.1em solid black;
    width: fit-content;
    padding: 0em 2em 0em 2em;
    border-radius:10%;
    transition:1s;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cards:hover{
    background-color: rgb(36, 160, 160);
}

#Titulos{
  border: 0.1em solid rgb(207, 33, 33);
  width: 65vw;
  margin: auto;
  padding: 1em;
}

.input{
    background-color: rgb(151, 219, 219);
    border: 0.1em solid black;
}

#card-container{
    background-color: aqua;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;

}